/* ==========================================================================
    Style Button
========================================================================== */
#wl-wrapper.woocommerce .button, .btn, button, .button, input[type="submit"] {
    background-color: $primary_color;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    border: 2px solid $primary_color;
    color: #fff;
    text-transform: uppercase;
    padding: 14px 33px;
    letter-spacing: 0.025em;
    @include transition(all 300ms cubic-bezier(0.54, 0.3, 0.2, 1) 0ms);
    @include border-radius(5px);
    position: relative;
    &.disabled, &[disabled] {
		border-color: $primary_color;
		background-color: $primary_color;
		color: #fff;
	}
	&:hover, &:focus {
		outline: medium none;
	    text-decoration: none;
	    background-color: #040e24;
	    border-color: #040e24;
	    color: #fff;
	    span, i {
	    	color: #fff;
	    }
	}
}
.action-apply.btn:hover {
	color: #fff !important;
}
/* Button Styles */
.btn-wrap {
	text-align: center;
	.btn {
		margin: 20px 6px;
	}
}
.btn {
	&.btn-color1 {
		background-color: #4cd964;
		border-color: #4cd964;
		&:hover {
			background-color: #38c250;
			border-color: #38c250;
		}
	}
	&.btn-color2 {
		background-color: #2962ff;
		border-color: #2962ff;
		&:hover {
			background-color: #2158f1;
			border-color: #2158f1;
		}
	}
	&.btn-square {
		@include border-radius(0px);
	}
}
/* Button Size */
.btn {
	&.btn-sm {
		padding: 11px 23px 9px;
	}
	&.btn-tiny {
		padding: 8px 18px 6px;
	}
	&.btn-lg {
		border-width: 3px;
	    font-size: 16px;
	    padding: 12px 33px;
	}
	&.btn-xlg {
		font-size: 15px;
		font-weight: 700;
		letter-spacing: 0.05em;
		padding: 16px 33px;
		@include box-shadow(0 5px 6px rgba(0,0,0,0.15)); 
		i {
			font-size: 18px;
		}
	}
	&.btn-md2 {
		padding-left: 22px;
		padding-right: 22px;
	}
	&.btn-outline-white {
		border-color: #fff;
	}
	i + span {
		padding-left: 4px;
	}
	span + i {
		padding-right: 4px;
	}
	&.btn-default {
		&:hover {
			color: #fff !important;
		}
	}
	&.btn-primary-white {
		border-color: #fff;
		background-color: #fff;
		color: $primary_color;
		font-weight: 600;
		letter-spacing: 0.05em;
		@include border-radius(3px);
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: -20px;
			left: -20px;
			bottom: -20px;
			right: -20px;
			background: #fff;
			@include border-radius(3px);
			z-index: -1;
			opacity: 0.4;
			-webkit-transform: scale3d(0.8, 0.5, 1);
			transform: scale3d(0.8, 0.5, 1);
		}
		&:hover, &:focus {
			-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
			transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
			border-color: #fff;
			background-color: #fff;
			-webkit-animation: anim-moema-1 0.3s forwards;
			animation: anim-moema-1 0.3s forwards;
			span {
				color: $primary_color;
			}
			&:before {
				-webkit-animation: anim-moema-2 0.3s 0.3s forwards;
				animation: anim-moema-2 0.3s 0.3s forwards;
			}
		}
		&.btn-lg {
			font-size: 18px;
			padding: 22px 25px;
		}
	}
}
.single-jobboard-post-jobs .action-applied {
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.05em;
	padding: 13px 33px;
}

.register-form {
	button[type="button"], button[type="submit"], .button {
		font-size: 15px;
		font-weight: 700;
		letter-spacing: 0.05em;
		padding: 18px 25px;
		i {
			font-size: 18px;
		}
	}
}

.loop-status, .loop-actions .action {
	display: inline-block;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 500;
	border: 1px solid #ebb207;
	background-color: #ffc107;
	@include border-radius(5px);
	line-height: 29px;
	padding: 0 12px;
	text-align: center;
	&.status-trash, &.action-remove, &.status-reject, &.status-cancelled {
		background-color: #d82020;
		border-color: #bd0000;
	}
	&.status-publish, &.action-apply, &.status-completed, &.status-approved {
		background-color: #80d315;
		border-color: #65b400;
	}
}
.loop-status {
	min-width: 110px;
}
.action{
	padding: 0 !important;
	width: 30px;
	height: 30px;
	line-height: 30px !important;
}
.loop-actions .action-edit, .loop-actions .action-approve {
	background-color: #80d315;
	border-color: #65b400;
}
.loop-actions .action-delete, .loop-actions .action-reject {
	background-color: #d82020;
	border-color: #bd0000;
}
.btn-align-center {
	text-align: center;
}
.btn-align-right {
	text-align: right;
}
/* Button slider */
.rev_slider_wrapper, .revslider-initialised {
	.btn {
		@include transition(all 300ms linear 0ms !important);
		&.btn-md {
			padding: 11px 34px !important;
		}
	}
	.btn-account {
		@include transition(all 300ms linear 0ms !important);
		color: #fff;
		text-decoration: underline;
		&:hover {
			color: $primary_color;
		}
	}
}
.btn-job {
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	padding: 0 9px;
	line-height: 20px;
	@include border-radius(4px);
	background-color: $primary_color;
}
.action-applied {
	border-width: 3px;
    font-size: 16px;
    padding: 12px 33px;
	&:hover {
		color: #fff !important;
	}
}
@-webkit-keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@-webkit-keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
/* ==========================================================================
    End Style Button
========================================================================== */