/* ==========================================================================
   [Start] All style header
   /* 1. Header Main
========================================================================== */

/* ==========================================================================
   [1. Header Main
========================================================================== */
.new-item-menu a {
  line-height: $nav_menu;
  float: right;
}
#cshero-header {
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.09));
  .cshero-navigation-right aside {
    display: inline-block;
    + aside {
      margin-left: 32px;
    }
  }
  .jb-login-form {
    .jobboard-social-login {
      .social-button {
        font-size: 10px;
        padding-left: 38px;
        padding-top: 17px;
        padding-bottom: 16px;
      }
    }
  }
  .widget-basket, .widget-profile {
    position: relative;
    .basket-widget-header {
      padding: 22px;
      border-bottom: 1px solid #e0e0e0;
      h4 {
        font-size: 15px;
        color: #666666;
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }
    .basket-widget-content {
      width: 100% !important;
    }
    .widget-content {
      background-color: #fff;
      @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.22));
      display: block;
      width: 400px;
      margin-left: -200px;
      left: 50%;
      z-index: 0;
      line-height: 24px;
      @include border-radius(5px);
      opacity: 0;
      visibility: hidden;
      @include transition(all 300ms linear 0ms);
      margin-top: -16px;
      position: absolute;
      top: 100%;
      &:before {
        background-color: $primary_color;
        content: "";
        height: 14px;
        left: 50%;
        position: absolute;
        top: -7px;
        @include transform(translateX(50%) rotate(45deg));
        width: 14px;
      }
      li {
        border-bottom: 1px solid #e0e0e0;
        background-color: #f5f5f5;
        padding: 10px 0 7px 0;
        position: relative;
        &.is-active a {
          color: $primary_color;
          &:before {
            content: "\f301";
            font-family: "Material-Design-Iconic-Font";
            padding-right: 4px;
          }
        }
        &:last-child {
          border-bottom: none;
        }
        .basket-items {
          margin: 0;
          padding-right: 55px;
          padding-left: 22px;
        }
        .entry-title {
          font-size: 15px;
          a {
            color: #666666;
            &:hover {
              color: $primary_color;
            }
          }
          text-transform: uppercase;
          margin-bottom: 0;
          &:hover {
            color: $primary_color;
          }
        }
        .loop-locations {
          padding: 0;
          display: block;
          color: #a0a0a0;
          &:before {
            content: "\f041";
            font-family: FontAwesome;
            color: #a0a0a0;
            padding-right: 10px;
          }
          a {
            font-size: 12px;
            color: #a0a0a0;
            font-weight: 500;
            &:hover {
              color: $primary_color;
            }
          }
        }
        .loop-type {
          padding: 0;
          a {
            font-size: 11px;
            text-transform: none;
            &:before {
              content: "\f017";
              font-family: FontAwesome;
              padding-right: 10px;
            }
            &:hover {
              opacity: 0.7;
            }
          }
        }
        &.basket-not-found {
          padding: 30px 22px !important;
          i {
            font-size: 20px;
            margin: 0 10px 0 0;
          }
          p {
            display: inline-block;
            margin: 0;
          }
        }
        &:hover .basket-delete {
          opacity: 1;
        }
      }
      &.back {
        left: 0;
      }
      &.active {
        opacity: 1;
        visibility: visible;
        z-index: 1000;
      }
      .jobboard-widget-content {
        li {
          background-color: #f5f5f5;
          padding: 10px 0;
          a {
            position: relative;
          }
          .jobboard-count {
            background-color: $primary_color;
              @include border-radius(100%);
              color: #fff;
              display: inline-block;
              font-size: 10px;
              font-weight: 500;
              height: 18px;
              line-height: 18px;
              position: absolute;
              right: -23px;
              text-align: center;
              top: -3px;
              width: 18px;
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
    .basket-delete {
      font-family: inherit;
      margin: 0;
      position: absolute;
      right: 16px;
      top: 50%;
      @include transform(translate(0px, -50%));
      opacity: 0;
      @include transition(all 300ms linear 0ms);
      &:before {
        color: #d82020;
        content: "REMOVE";
        font-size: 10px;
        font-weight: 600;
        cursor: pointer;
      }
      &:hover:before {
        opacity: 0.7;
      }
    }
    .basket-widget-footer {
      margin: 0;
      padding: 24px 23px;
      text-align: center;
      .button {
        font-size: 15px;
        font-weight: 600;
        padding: 17px 27px;
        margin: 0 8px;
        display: inline-block;
        i {
          padding-right: 10px;
        }
      }
    }
  }
  .widget-profile {
    .widget-content {
      padding: 24px 22px;
      .jobboard-widget-content {
        p:first-child {
          margin: 0;
        }
        ul li {
          background-color: transparent;
          a {
            color: #000;
            &:hover {
              color: $primary_color;
            }
          }
        }
      }
    }
    .basket-widget-footer {
      padding: 0;
      text-align: center;
    }
  }
}

#cshero-header-inner {
  &.header-top {
    background-color: #fff;
    #cshero-header-top {
      background-color: #f5f5f5;
      padding: 12px 0;
      font-size: 13px;
      color: #000000;
      a {
        color: #000000;
        &:hover {
          color: $primary_color;
        }
      }
      .contact-top {
        li {
          display: inline-block;
          margin-right: 100px;
          i {
            color: #000000;
            font-size: 18px;
            padding-right: 14px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .social-top {
        li {
          display: inline-block;
          padding-left: 32px;
          a {
            font-size: 18px;
          }
          &:first-child {
            padding-left: 0;
          }
        }
      }
      &.header-top-dark {
        background-color: #000;
        color: #fff;
        a {
          color: #fff;
          &:hover {
            
            opacity: 0.7;
          }
        }
        .contact-top li i {
          color: #fff;
        }
      }
    }
    #cshero-header-logo {
      float: left;
      padding: 0 15px;
      margin-right: 28px;
      a {
        display: block;
        img {
          max-height: $nav_menu;
          vertical-align: middle;
        }
      }
    }
    #cshero-header-navigation {
      padding: 0 15px;
    }
  }
}
@media (min-width: 992px) {
  #cshero-header-inner {
    position: relative;
    z-index: 999;
    .no-container {
      padding: 0 15px;
      max-width: 1680px;
      margin: auto;
    }
    #cshero-header {
      .cshero-navigation-right {
        float: right;
        .nav-button-icon {
          line-height: $nav_menu;
          @include transition(all 300ms linear 0ms);
        }
        .widget-basket {
          .wg-title {
            margin: 0;
            @include transition(all 300ms linear 0ms);
            .basket-title {
              position: relative;
              &:before {
                height: 35px;
                width: 35px;
                position: absolute;
                top: 0;
                right: 9px;
                background-size: cover;
                background-image: url(../images/icon-cart.png);
                background-repeat: no-repeat;
                background-position: center;
                content: "";
              }
              .jobboard-count {
                background-color: #fff;
                border: 2px solid $primary_color;
                border-radius: 100%;
                color: #000;
                display: inline-block;
                font-size: 12px;
                font-weight: 600;
                height: 25px;
                line-height: 23px;
                position: absolute;
                right: -18px;
                text-align: center;
                top: -10px;
                width: 25px;
              }
            }
          } 
        }
        .widget-profile {
          .wg-title {
            margin: 0;
            @include transition(all 300ms linear 0ms);
            .jobboard-widget-title {
              position: relative;
              &:before {
                height: 35px;
                width: 35px;
                position: absolute;
                top: 0;
                right: 9px;
                background-size: cover;
                background-image: url(../images/icon-login.png);
                background-repeat: no-repeat;
                background-position: center;
                content: "";
              }
            }
          } 
        }
        .wg-title .jobboard-widget-title {
          font-size: 15px;
          color: $color_dark;
          text-transform: uppercase;
          @include transition(all 300ms linear 0ms);
          letter-spacing: 0.05em;
          padding-right: 60px;
          position: relative;
          display: inline-block;
          cursor: pointer;
          line-height: 40px;
          font-family: 'Poppins', sans-serif;
          &:hover {
            color: $primary_color;
          }
        }
      }
      &.header-fixed {
        position: fixed;
        top: 0px;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 1001;
        background-color: #fff;
        .widget-basket .widget-content, .widget-profile .widget-content {
          margin-top: 0;
        }
      }
    }
    &.header-1 {
      #cshero-header {
        #cshero-header-logo a {
          img {
            @include transition(all 300ms linear 0ms);
          }
        }
        #cshero-header-navigation {
          .menu-main-menu > li:last-child {
            padding-right: 0;
          }
          .menu-main-menu > li > a {
            line-height: $nav_menu;
          }
        }
        .cshero-navigation-right .jobboard-widget .wg-title {
          line-height: $nav_menu;
        }
        &.header-fixed {
          .cshero-navigation-right .jobboard-widget .wg-title {
            line-height: $nav_menu_sticky;
          }
          #cshero-header-navigation .menu-main-menu > li > a {
            line-height: $nav_menu_sticky;
          }
          #cshero-header-logo a img {
            max-height: $nav_menu_sticky;
          }
          .widget-basket .widget-content {
            margin-top: 0;
          }
        }
      }
    }
    &.header-2 {
      #cshero-header {
        > .no-container {
          @include box-shadow(0 1px 0 #cfd8dc inset, 0 -1px 0 #cfd8dc inset);
        }
        #cshero-header-logo {
          left: 50%;
          max-width: 260px;
          position: absolute;
          text-align: center;
          top: 50%;
          @include transform(translate(-50%, -50%));
          width: 100%;
          z-index: 99;
          a {
            display: block;
            position: relative;
            z-index: 1;
            img {
              max-height: $nav_menu_center;
              @include transition(all 300ms linear 0ms);
            }
          }
        }
        #cshero-header-navigation-left {
          width: 43%;
          float: left;
          text-align: right;
        }
        #cshero-header-navigation-right {
          width: 43%;
          float: right;
        }
        #cshero-header-navigation {
          .menu-main-menu > li {
            padding: 0 18px;
            &:before, &:after {
              display: none;
            }
          }
          .menu-main-menu > li {
            > a {
              line-height: $nav_menu_center;
            }
            &.current-menu-item  > a, > a:hover {
              
            } 
          }
        }
        .cshero-navigation-right {
          position: absolute;
          right: 0;
          top: 0;
          .widget-basket {
            .wg-title {
              line-height: $nav_menu_center;
            }
            .widget-content {
              margin-top: 0;
            }
          }
        }
        &.header-fixed {
          @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.09));
          #cshero-header-navigation .menu-main-menu > li > a {
            line-height: $nav_menu_center_sticky;
          }
          #cshero-header-logo a {
            img {
              max-height: $nav_menu_center_sticky;
            }
          }
          .cshero-navigation-right .widget-basket .wg-title {
            line-height: $nav_menu_center_sticky;
          }
        }
      }
    }
    &.custom-header4 {
      .cshero-header-navigation {
        .main-navigation .menu-main-menu > li > a {
          font-size: 16px;
          text-transform: none;
          color: rgba(0,0,0,0.66);
        }
        &.menu-style2 {
          .menu-main-menu > li {
            > a {
              padding-right: 14px;
              position: relative;
              &:before {
                display: block;
                content: '';
                width: 6px;
                height: 6px;
                @include border-radius(6px);
                background-color: $primary_color;
                position: absolute;
                top: 50%;
                margin-top: -3px;
                right: 0;
              }
              &:after {
                display: none;
              }
              .menu-title:before {
                display: none;
              }
            }
            &:hover > a,
            &.current_page_item > a,
            &.current-menu-item > a,
            &.current_page_ancestor > a,
            &.current-menu-ancestor > a {
              color: $primary_color;
            }
          }
        }
      }
      .cshero-navigation-right {
        .jobboard-widget-title {
          text-transform: none !important;
        }
      }
    }
    &.custom-header5 {
      .cshero-header-navigation .main-navigation .menu-main-menu > li > a {
        font-size: 16px;
        text-transform: none;
        color: rgba(0,0,0,0.66);
      }
      .cshero-navigation-right {
        .jobboard-widget-title {
          text-transform: none !important;
        }
      } 
      #cshero-header {
        @include box-shadow(0 -1px 0 #ebebeb inset);
        background-color: #fff;
        #cshero-header-navigation {
          flex-wrap: wrap;
          .menu-main-menu > li > a {
            line-height: 89px !important;
            font-weight: 500;
          }
        }
        .cshero-header-navigation .main-navigation li ul li {
          a {
            color: #7f7f7f;
          }
          &.current-menu-item > a, > a:hover {
            color: $primary_color;
          }
        }
      }
      .cshero-header-navigation-inner {
        border-top: 1px solid #ebebeb;
      }
      #cshero-header-navigation-primary {
        padding-left: 17px;
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
        justify-content: space-between;
      }
      .cms-flex {
        margin: 0;
      }
      .cms-flex-col {
        align-items: end;
      }
      .jb-job-search {
        width: 300px;
        + .view-job {
          margin-left: 30px;
        }
        > div::before {
          left: 22px;
          right: initial;
          font-size: 20px;
          color: rgba(0,0,0,0.66);
        }
        .search-field {
          height: 48px;
          padding-left: 50px;
          padding-right: 23px;
          background-color: #f6f6f6;
          border-color: #ebebeb;
          font-size: 14px;
          color: rgba(#000000, 0.66);
        }
        [type="submit"] {
          border: none;
          border-left: 1px solid #ebebeb;
          @include border-radius(0);
          color: #000000;
          font-size: 14px;
          font-weight: normal;
          height: inherit;
          line-height: 30px;
          opacity: 1;
          padding: 0 23px;
          text-indent: 0;
          text-transform: none;
          top: 50%;
          @include transform(translate(0px, -50%));
          width: inherit;
          font-weight: 500;
        }
      }
      #cshero-header-logo {
        min-width: 150px;
        img {
          max-height: 150px;
        }
      }
      .cshero-navigation-right {
        line-height: 89px;
        .btn {
          padding-left: 22px;
          padding-right: 22px;
        }
        .jobboard-widget .wg-title {
          line-height: 89px !important;
        }
      }
      .cshero-header-navigation-top {
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #000;
        font-size: 14px;
        line-height: 26px;
        @include transition(all 300ms linear 0ms);
        a {
          color: rgba(0, 0, 0, 0.66);
          font-weight: 500;
          &:hover {
            color: $primary_color;
          }
        }
      }
      .job-recent {
        span {
          font-weight: 600;
        }
        ul {
          display: inline-block;
        }
        li {
          display: inline-block;
          margin-left: 22px;
        }
      }
      .job-user-meta {
        a {
          border-right: 1px solid #ebebeb;
          padding-right: 18px;
          margin-right: 16px;
          i {
            padding-left: 4px;
          }
          &:last-child {
            border: none;
            margin-right: 0;
            padding-right: 0;
          }
        }
      }
      .header-fixed {
        #cshero-header-logo img {
          max-height: 150px !important;
        }
      }
    }
  }
  .admin-bar #cshero-header-inner #cshero-header.header-fixed, #cshero-header-inner.no-trans #cshero-header:not(.header-fixed) #cshero-header-logo {
    top: 32px;
  }
}
/* ==========================================================================
   [End] 1. Header Main
========================================================================== */