$primary_color:#4e007a;$secondary_color:#2a65ff;.faq-search #searchform, .map-search-form .search-form, .jb-s-wrapper {
                background-color:rgba(78, 0, 122, 0.5);
            }.vc_tta-container .vc_tta-accordion.vc_tta-style-modern .vc_tta-panels .vc_tta-panel-body {
                border-left: 1px solid rgba(78, 0, 122, 0.4);
                border-right: 1px solid rgba(78, 0, 122, 0.4);
                border-bottom: 1px solid rgba(78, 0, 122, 0.4);
            }.register-form input[type='text'],
            .register-form input[type='password'],
            .register-form input[type='datetime'],
            .register-form input[type='datetime-local'],
            .register-form input[type='date'],
            .register-form input[type='month'],
            .register-form input[type='time'],
            .register-form input[type='week'],
            .register-form input[type='number'],
            .register-form input[type='email'],
            .register-form input[type='url'],
            .register-form input[type='search'],
            .register-form input[type='tel'],
            .register-form input[type='color'],
            .register-form textarea, .register-form select {
                background-color: rgba(78, 0, 122, 0.1);
            }$link_color:#4e007a;$link_color_hover:#000000;.event-modern .jobboard-event-banner {
                background-image: url(http://localhost/wp-recruitment/wp-content/uploads/2017/12/event-banner.jpg);
            }